{% extends 'stocks/base.html' %}

{% block content %}

    <h4>Holdings List for
        <b>
            {{ view.kwargs.pk }}
        </b>
    </h4>

    <br>

    <div class="row holding-header-row gx-2">
        <div class="col-md-2">Symbol</div>
        <div class="col-md-1 text-end">Qty Owned</div>
        <div class="col-md-1 text-end">Avg Cost</div>
    </div>

    {% if holdings %}
        {% for item in holdings %}
            <div class="row gx-2">
                <div class="col-md-2">{{ item.symbol }}</div>
                <div class="col-md-1 text-end">{{ item.qty_owned }}</div>
                <div class="col-md-1 text-end">{{ item.avg_cost }}</div>
            </div>
        {% endfor %}
    {% endif %}
    <br>

    <a href="{% url 'holdingcreate' pk=view.kwargs.pk %}">Add Holding</a>

{% endblock %}
