{% extends 'stocks/base.html' %}

{% block content %}

    <h4>Holdings List for
        <b>
            {{ view.kwargs.pk }}
        </b>
    </h4>

    <br>

    <div class="col-lg-3 col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-md-1">Symbol</th>
                    <th class="col-md-1 text-end">Quantity</th>
                    <th class="col-md-1 text-end">Avg Cost</th>
                </tr>
            </thead>
            <tbody>
                {% if holdings %}
                    {% for item in holdings %}
                        <tr>
                            <th class="col-md-1">
                                <a href="{% url 'holdingupdate' portfolio=view.kwargs.pk symbol=item.symbol %}">
                                    {{ item.symbol }}
                                </a>
                            </th>
                            <td class="col-md-1 text-end">{{ item.qty_owned }}</td>
                            <td class="col-md-1 text-end">{{ item.avg_cost }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>

{#    <table class="table table-striped">#}
{#        <thead>#}
{#            <tr>#}
{#                <th class="col-1">Symbol</th>#}
{#                <th class="col-1">Qty Owned</th>#}
{#                <th class="col-1">Avg Cost</th>#}
{#            </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#            {% if holdings %}#}
{#                {% for item in holdings %}#}
{#                <tr>#}
{#                    <td class="col-1">#}
{#                        <a href="{% url 'holdingupdate' portfolio=view.kwargs.pk symbol=item.symbol %}">#}
{#                        {{ item.symbol }}#}
{#                    </td>#}
{#                    <td class="col-1 text-end">{{ item.qty_owned }}</td>#}
{#                    <td class="col-1 text-end">{{ item.avg_cost }}</td>#}
{#                </tr>#}
{#                {% endfor %}#}
{#            {% endif %}#}
{#        </tbody>#}
{#    </table>#}

    <br>

    <a href="{% url 'holdingcreate' pk=view.kwargs.pk %}">Add Holding</a>

{% endblock %}
