{% extends 'stocks/base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block content %}

    <h4>Stock List</h4>
    <br>

<body>
    <div class="container">
        <div class = "row">
            {% for item in stocks %}
                {% if forloop.counter|divisibleby:6 %}
                    <div class = "col-md-2">
                        <a href="{% url 'update' pk=item.symbol %}">
                            <h5>{{ item.symbol }}</h5>
                        </a>
                    </div>
                    </div>
                    {% if not forloop.last %}
                        <div class="row">
                    {% endif %}
                {% else %}
                    <div class = "col-md-2">
                        <a href="{% url 'update' pk=item.symbol %}">
                            <h5>{{ item.symbol }}</h5>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

</body>
{% endblock %}
