{% extends 'stocks/base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block content %}

    <h1>Stock List</h1>

    <body>
        <div class="container">
            {% for item in stocks %}
                {% if forloop.counter|divisibleby:6 %}
                    <div class = "col-md-2">
                        <a href="{% url 'update' pk=item.symbol %}">
                            <h5>{{ item.symbol }}</h5>
                        </a>
                    </div>

                    {% if not forloop.last %}
                        <div class="row"></div>
                    {% endif %}

                {% else %}
                    <div class = "col-md-2">
                        <a href="{% url 'update' pk=item.symbol %}">
                            <h5>{{ item.symbol }}</h5>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </body>
{% endblock %}
